/*reset*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
	color: #5a5a5a ;
}

.header__top {
	background: #00bbce;
	height: 30px;
	text-align: right;
	padding-top: 7px;
	padding-right: 4px;
}
.header__top a {
	color: white;
}
.navbar-inverse {
	background: #fff;
	text-transform: uppercase;
}
.nav-navbar {
	padding: 10px 0;
	text-transform: uppercase;
}
.clear {
	clear: both;
}
.clear_our_mashines {
	clear: both;
}

.nav__btn {
	float: right;
}
.navbar-toggle{
	position: relative;
	border: none;

	background: #00bbce;
}
.icon-bar {
	color: #00bbce;
}
.navbar-brand {
	position: absolute;
	top: -7px;
}
.navbar-collapse {
	padding-top: 16px;
	border: none;
}
.navbar-inverse .navbar-nav>.active>a {
	background: #fff;
	color: #5a5a5a;
}
 .navbar-inverse .navbar-nav>li>a:hover {
	 background: #fff !important;
	 color: #5a5a5a !important;
 }

/*home block*/
.home {
	margin-top: 80px;
}
.home__item {
	height: 650px;
	width: 50%;
	background-repeat: no-repeat;
	display: inline-block;
	background-size: cover;
	vertical-align: top;
	text-align: center;
	color: white;
}
.home__title {
	padding-top: 300px;
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 900;
}
.btn-warning {
	color: #012b30;
	text-transform: uppercase;
	padding: 8px 23px;
	background: #ffca25;
	font-size: 14px;
	font-weight: 300;
}
.home__caption {
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.home__item:hover {
	opacity: .9;
}
.home__item:nth-child(1) {
	background-image: url("../images/bg_1.png");

}
.home__item:nth-child(2) {
	margin-left: -5px;
	background-image: url("../images/bg_2.png");
}
/*servise bloc*/

.services__item {
	text-align: center;
}
.services__title {
	text-align: center;
	font-size: 36px;
	padding-top: 50px;
	padding-bottom: 60px;
	color: #5a5a5a;
	font-weight: bold;
	text-transform: uppercase;
}
.services__name {
	font-size: 20px;
	color: #5a5a5a;
	padding-top: 27px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 23px;
	text-transform: uppercase;
}
.services__caption {
	padding-bottom: 50px;
	font-size: 11px;
	color: #7e7e7e;
	text-align: center;
	line-height: 17px;
}

.company-info {
	background-image: url("../images/bacgraund_5.jpg");
	height: 455px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}
.company-info__text {
	display: block;
	width: 50%;
	height: 100%;
	background: #f2e4cc;
	opacity: .7;
	float: right;
	font-size: 16px;
	padding: 1px 50px;
	line-height: 32px;
	text-align: left;
	overflow: hidden;
}
.company-info__titte {
	padding-top: 25px;
}
/*how-work*/
.how-work {
	position:relative;
	padding-bottom:50px;
}
.how-work__title {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	color: #5a5a5a;
	font-weight: 800;
	padding-top: 80px;
	padding-bottom: 50px;
}

.how-work__icon {
	vertical-align: top;
	display: table-caption;
}
.how-work__icon h4 {
	font-size: 18px;
	text-align: center;
	color: #635e55;
	text-transform: uppercase;
}
.how-work__arrow img {
	vertical-align: top;
}
/*our_mashines*/
.our_mashines__right {
	background: #f9ebd3;
	width: 50%;
	float: left;
	display: block;
	margin: auto;
	height: 518px;
}
.our_mashines__right__all {
	font-size: 16px;
	padding: 1px 50px;
	line-height: 32px;
	text-align: left;
	overflow: hidden;
	display: block;
	margin: auto;
}

.our_mashines__left {
	background: url("../images/awer_mashins.jpg")no-repeat right;
	width: 50%;
	height: 518px;
	float: right;
	display: block;
	background-size: cover;
}
.our_mashines__text {
	font-size: 16px;
	color: #5a5a5a;
	text-align: left;
	padding: 10px 20px;
	display: block;
}
.our_mashines__titte {
	font-size: 36px;
	color: #5a5a5a;
	text-align: left;
	padding: 10px 20px;
}

/*company-feature*/


.company-feature__left {
	display: inline-block;
	vertical-align: top;
	float: left;
}
.company-feature__right {
	display: inline-block;
	width: 80%;
	margin-left: 20px;
	float: right;
}
.company-feature__icon {
	width: 50px;
}
.company-feature_h1 {
	text-align: center;
	font-size: 36px;
	color: #5a5a5a;
	padding-top: 90px;
	text-transform: uppercase;
}
.company-feature__title {
	font-size: 18px;
	color: #5a5a5a;
	text-align: left;
	text-transform: uppercase;

}
.company-feature__item {
	padding-top: 70px;
}
.company-feature__text {
	font-size: 14px;
	color: #7e7e7e;
	font-weight: 200;
}

/*forb_bloc*/
.form_bloc {
	background: url("../images/bacgra_fut.jpg")no-repeat center;
	background-size: cover;
	height: 470px;
}
.form-group {
	width: 270px;
	height: 46px;
	align-items: center;
	text-align: center;

}
.form-control {
	background: #9ecbce;
	opacity: 0.5;
	color: white;
	font-size: 14px;
}
.form-control:focus {
	opacity: 1;
}


.form-bloc__form{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	width: 20em
}
.form_bloc__btn {
	padding-right: 40px;
	padding-top: 25px;
}

.form_bloc__title {
	text-align: center;
	color: white;
	font-size: 36px;
	text-transform: uppercase;
	padding-top: 47px;

}
footer {
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	font-size: 14px;
	color: #5a5a5a;
}
.footer__brand {
	position: absolute;
	top: -60px;
	left: 0;
	display: block;
}
.footer_addres {
	text-align: center;
	color: #5a5a5a;
}
.footer_addres__sity {
	font-size: 24px;
	font-weight: lighter;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


}
.footer_addres__streat {
	font-size: 16px;
}
.footer_addres__conpany {
	font-size: 14px;
	padding-top: 25px;
	vertical-align: bottom;
}
.footer-phone a {
	color: #5a5a5a;
	text-align: right;
}
.footer-phone {
	text-align: right;
	font-size: 14px;
}

/*media*/



@media screen and (max-width: 991px) {
	.navbar-brand {

	}
	.home .home__item {
		width: 100%;
		margin: 0;
		margin-top: -5px;
	}
	.company-info__text {
		width: 100%;}
}

@media screen and (max-width: 768px) {
	.navbar-brand {
		display: block;
		height: 70%;
	}
	.company-feature__left {
		height: 0;
	}
	.home__title {
	font-size: 2.2em;
}
	.nav .navbar-nav .navbar-right {
	width: 70%;!important;
}
	.navbar-nav {
	width: 70%;
}
	.our_mashines__left {
		width: 100%;
		background-size: cover;
	}
	.our_mashines__right {
		width: 100%;
		background-size: cover;
		height: 340px;
	}
	.how-work__arrow {
		display: none;
	}

}
@media screen and (max-width: 426px) {
	.company-info__text {
	line-height: 25px
	}
	.our_mashines__right {
		height: 600px;
		line-height: 24px;
	}
	.how-work__icon {
		padding-left: 50%;
	}
	.form-bloc__form {
		width: 20em;
	}
	.footer_addres__sity {
		padding-top: 20px;
	}
	.footer-phone {
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
	.navbar-brand>img {
		width: 70%;
	}
	li.active {
		display: none;
	}
	.clear {
		clear: both;
	}

}
@media screen and (max-width: 1008px) {


	li.active {
		display:block;
	}
}
@media screen and (min-width: 1008px) {

	li.active {
		display: none;
	}
	.clear {
		display: none;
	}

}
@media screen and (min-width: 1250px){
	li.active {
		display:block;
	}
	.w {
		display: none;
	}


}